<div flex layout="row"  layout-sm="column" layout-align="top left">
  <div >
      <md-card>
        <md-toolbar class="md-table-toolbar md-default" >
          <div class="md-toolbar-tools" layout-align="center center">
            <span>APM Management</span>
          </div>
        </md-toolbar>
        <form name="apmconfigform" >
          <div layout="column " layout-align="center center">
              <md-input-container class="md-block" flex-gt-xs>
                <label>APM IP:</label>
                <input ng-model="apm.ip" required >
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>APM Username:</label>
                <input ng-model="apm.username" required>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>APM Password:</label>
                <input type="password" ng-model="apm.password" required >
            </md-input-container>
            <div flex="nogrow" layout-align="center center">
              <md-button type="submit" class="md-primary" ng-class="{'md-raised md-hue-1': (apmconfigform.$dirty && apmconfigform.$valid) }" ng-click="apmconfigform.$valid && changeapmconfig(apmconfigform)">Update APM config
              </md-button>
            </div>
          </div>
        </form>
      </md-card>
  </div>
</div>
